@import "../../styles/variables";
@import "../../styles/mixins";
.modules {
  section {
    width: 100%;
    position: relative;
    background-color: var(--color-bg);
    // margin-bottom: var(--space-xl);
    // &:last-child {
    //   margin-bottom: 0;
    // }
    scroll-margin-top: var(--header-height);
    &.module--hero-ui {
      @media all and (min-width: $md) {
        height: calc(var(--vh) * 100 - var(--header-height));
      }
      img {
        object-fit: cover;
        object-position: center center;
        // height: 100% !important;
        @media all and (max-width: $md) {
          object-fit: contain;
          height: auto !important;
        }
      }
    }
    &.module--text-ui {
      .inner {
        padding: var(--space-50);
        background-color: var(--backgroundColor, #000);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        // background-image: url(var(--backgroundImage));
        color: var(--color, #fff);
        // background-attachment: fixed;
        @media all and (max-width: $md) {
          padding: var(--space-50) var(--space-m-md);
        }
        .text-center h2 {
          text-align: center;
          margin: 0 auto;
          margin-bottom: 1em;
        }
        h2,
        .text {
          text-align: left;
        }
        &.is-columns {
          h2 {
            text-align: center;
          }
          .text {
            column-count: 2;
            max-width: unset;
            h3:first-of-type {
              -webkit-column-break-before: always;
              column-break-before: always;
            }
          }
        }
        &.is-offset {
          .headline {
            @media all and (min-width: $md) {
              max-width: 13em;
            }
          }
        }
      }
    }
    &.module--text-image-ui {
      .inner {
        padding: var(--space-50);
        @media all and (max-width: $md) {
          padding: var(--space-50) var(--space-m-md);
        }
      }
      h2.headline {
        line-height: 0.65;
      }
    }
    &.module--contacts-ui {
      .inner {
        padding: var(--space-50);
        @media all and (max-width: $md) {
          padding: var(--space-50) var(--space-md);
        }
      }

      background-color: #000;
      color: #fff;
      h2 {
        text-align: center;
        max-width: 13em;
        margin: auto;
        margin-bottom: var(--space-50);
        text-transform: uppercase;
      }
      .items {
        p {
          text-align: center;
          margin-bottom: 2.938rem;
          font-size: var(--text-2lg);
          a {
            // font-size: var(--text-lg);
            // text-transform: lowercase;
            @media all and (min-width: $md) {
              min-width: 23rem;
            }
            display: inline-block;
          }
        }
      }
    }
    &.module--list-lieu-ui {
      .lieu {
        &:nth-child(even) > .summary-detail {
          & > .summary {
            svg path {
              fill: black;
            }
          }
        }
        &:nth-child(odd) > .summary-detail {
          & > .summary {
            background-color: black;
            color: white;
            svg path {
              fill: white;
            }
          }
        }
      }
    }
    &.module--list-page-ui {
      & > .inner {
        padding: var(--space-50);
        @media all and (max-width: $md) {
          padding: var(--space-50) var(--space-m-md);
        }
      }
      .headline {
        text-align: center;
        div {
          max-width: 10em;
          display: inline-block;
        }
      }
      .is-filtering {
        .item:not(.is-selected) {
          display: none;
        }
      }
    }
    &.module--list-studio-ui {
      article.card img {
        max-height: calc(var(--vh) * 100 - var(--header-height));
      }
      .headline {
        text-align: center;
        div {
          max-width: 10em;
          display: inline-block;
        }
      }
      .detail.detail--studio {
        position: absolute;
        width: 100%;
        left: 0;
        padding: var(--space-50) 0;
        background-color: black;
        .btn--close {
          position: absolute;
          z-index: 1;
          right: var(--space-50);
          // bottom: 0;
          top: calc(
            var(--vh) * 100 - var(--header-height) * 2 + var(--space-50)
          );
          @media all and (max-width: $md) {
            right: var(--space-m-md);
          }
        }
        .summary-detail {
          .summary {
            padding: 0;
            svg {
              display: none;
            }
          }
          .detail {
            position: initial;
          }
        }
      }
    }
    &.module--callout-ui {
      background-color: #000;
      color: #fff;
      background-size: cover;
      .inner {
        padding: var(--space-50);
        @media all and (max-width: $md) {
          padding: var(--space-50) var(--space-md);
        }
        h2 {
          text-align: center;
          max-width: 13em;
          margin: auto;
          margin-bottom: var(--space-50);
          text-transform: uppercase;
        }
      }
    }
    &.module--list-modulaire-ui {
      &:nth-child(odd) .summary-detail {
        & > .summary {
          background-color: white;
          color: black;
          svg path {
            fill: black;
          }
        }
      }
    }
    &.module--split-image-text-ui {
      color: var(--color-secondary);
      &:nth-child(odd) .flex {
        flex-direction: row-reverse;
      }
      .flex {
      }
      .bg {
        background-color: var(--color-accent);
        position: absolute;
        inset: 0;
        mix-blend-mode: multiply;
      }
      .panel {
        padding: var(--space-50);
        min-height: calc(var(--vh) * 100 - var(--header-height));
      }
      @media all and (max-width: $md) {
        text-align: center;

        .flex {
          flex-direction: column-reverse !important;
        }
        .btn--pill {
          margin-top: var(--space-xl);
        }
      }
    }
    &.module--hero-split-ui {
      img {
        height: calc(var(--vh) * 100 - var(--header-height));
        object-fit: cover;
      }
      .title {
        @include center_it;
        color: var(--color-secondary);
        span {
          display: block;
          text-align: center;
        }
      }
      svg {
        @include center_it;
        // top: 50vh;
        pointer-events: none;
        transform-origin: center;
        // background-color: red;
      }
    }
    &.module--hero-split-scroll-ui {
      height: calc(var(--vh) * 200 - var(--header-height));
      height: calc(var(--vh) * 200);
      // margin-bottom: calc(var(--vh) * 100 - var(--header-height));
      .scroller {
        position: fixed;
        top: 0;
        width: 100%;
        // overflow: hidden;
        height: calc(var(--vh) * 100 - var(--header-height));
        height: calc(var(--vh) * 200);
      }
      // @media all and (max-width: $md) {
      //   .scroller {
      //     height: calc(var(--vh) * 100);
      //   }
      // }

      .item {
        position: absolute;
        width: 100%;
        height: calc(var(--vh) * 100 - var(--header-height));
        will-change: transform;
        opacity: 0;
        transition: opacity 0.2s;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        // aspect-ratio: 3 / 2;
      }
      svg {
        @include center_it;
        top: 50vh;
        pointer-events: none;
        transform-origin: center;
        transition-duration: 0.8s;
        // background-color: red;
      }
      .title {
        @include center_it;
        color: var(--color-secondary);
      }

      @media screen and (max-width: $md) {
        // .scroller {
        //   height: calc(var(--vh) * 100);
        // }
        // .double-scroll {
        //   .scroller {
        //     height: 100vh;
        //   }
        //   .item {
        //     height: 50vh;
        //   }
        // }
        svg {
        }
      }
    }
    &.module--list-card-image-text-ui {
      .inner {
        padding: var(--space-50);

        @media all and (max-width: 1300px) {
          .md\:grid-cols-4 {
            grid-template-columns: repeat(2, minmax(0, 1fr));
          }
        }

        @media all and (max-width: $md) {
          padding: var(--space-lg) var(--space-m-md);
          gap: 1em;
          .md\:grid-cols-4 {
            grid-template-columns: repeat(1, minmax(0, 1fr));
          }
        }
      }
      .card {
        .inner {
          padding: 0;
          img {
            aspect-ratio: 1 / 1;
            object-fit: contain;
          }
        }
      }
      h2 {
        text-align: center;
      }
    }
    &.module--slider-card-image-text-ui {
      .inner {
        padding: var(--space-50);
        @media all and (max-width: $md) {
          padding: var(--space-lg) var(--space-m-md);
          gap: 1em;
        }
        .slider-container {
          @media all and (min-width: $md) {
            margin: 0 calc(var(--space-sm) * -1);
          }
          .slick-arrow {
            width: auto;
            height: auto;
            bottom: calc(var(--space-md) * -2);
            top: unset;
            text-indent: 0;
            padding: 0 var(--space-sm);
            color: var(--color-accent);
            cursor: pointer;
            &:hover {
              color: var(--color-primary);
            }
          }
          .slick-dots {
            bottom: calc(var(--space-md) * -2);
          }
          a.btn--pill {
            z-index: 50;
            position: relative;
          }
        }
        h2 {
          text-align: center;
        }
        .card {
          .inner {
            padding: 0;
            // gap: var(--space-md);
          }
        }
      }
    }

    @media all and (max-width: 1300px) {
      &.module--text-image-ui {
        .btn--pill {
          display: inline-block;
          max-width: 100%;
          white-space: initial;
          height: auto;
          line-height: 1.3;
          padding: 0.5em 2em;
          span {
            display: inline;
            max-width: 100%;
          }
        }
      }
    }
  }
}
