// .card {
//   &:hover {
//     color: var(--color-muted);
//   }
// }

.card--studio {
  cursor: pointer;
  transition: padding-bottom 0.3s;
  img {
    aspect-ratio: 1 / 1;
    height: 100%;
    object-fit: cover;
  }
}

.card {
  figure {
    max-width: 100%;
  }
  &--page {
    img {
      aspect-ratio: 1 / 1;
      height: 100%;
      object-fit: contain;
    }
  }
}
