// .card {
//   &:hover {
//     color: var(--color-muted);
//   }
// }

.card--studio {
  cursor: pointer;
  transition: padding-bottom 0.3s;
  img {
    aspect-ratio: 1 / 1;
    height: 100%;
    object-fit: cover;
  }
}

.card {
  figure {
    max-width: 100%;
    img {
      aspect-ratio: 1 / 1;
      height: 100%;
      object-fit: cover;
    }
  }
  &--page {
    @media all and (min-width: $sm) and (max-width: 1200px) {
      h3 {
        font-size: var(--text-m-2lg);
      }
    }
    .inner {
      display: flex;
      flex-direction: column;
      gap: var(--space-lg);
    }
    .image {
      max-width: 100%;
    }
    img {
      aspect-ratio: 1 / 1;
      height: 100%;
      object-fit: contain;
    }
    .cartouche {
      transform: translateY(0.2rem);
    }
  }
}
