@import "reset";
@import "variables";
@import "vendor/flexboxgrid/flexboxgrid";
// @import 'vendor/slickslider/slick';

@import "mixins";
@import "utils";

@import "typography";

@import "layout";
@import "design-system";

@import "templates/home";
@import "templates/project";

@import "components/header";
@import "components/footer";
@import "components/cards";
@import "components/content--landing";
@import "components/content--studio";

@import "components/ui/marquee";
@import "components/ui/mailjet";
@import "components/ui/cookies";
